@inject UseCases.IViewCategoriesUseCase ViewCategoriesUseCase
@inject UseCases.IViewProductsByCategoryId ViewProductsByCategoryId

<div class="form-group">
    <label for="category">Category</label>
    <select id="category" @bind="selectedCategoryId" class="form-control">
        <option selected></option>
        @foreach (var cat in categories)
        {
            <option value="@cat.CategoryId">@cat.Name</option>
        }

    </select>
</div>
@if (productsInCategory != null )
{
    <table>
        <thead>
            <tr>
                <th> Prod Name</th>
                <th>Qty Left</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in productsInCategory)
            {
                <tr>
                    <td>
                        @prod.Name
                    </td>
                    <td>
                        @prod.Quantity
                    </td>
                </tr>

            }
        </tbody>
    </table>
}


@code {

    private IEnumerable<Product> productsInCategory;

    private int selectedCategoryId;
    private int SelectedCategoryId
    {
        get
        {
            return selectedCategoryId;
        }
        set
        {
            selectedCategoryId = value;
            productsInCategory = ViewProductsByCategoryId.Execute(value);
        }
    }

    private IEnumerable<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        categories = ViewCategoriesUseCase.Execute();
    }
}